.App {
  text-align: left;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.clientGraphiql {
  width:100%;
  height:600px;
  border:0;
  margin: 30px 0;
}

.page-header {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
  width: 100%;
}
.navbar {
  margin-bottom:30px;
}
.loading {
  text-align: center;
  margin:0 auto;
}
.stream a, .stream a:link {
  text-decoration: none;
  color: #232323;
}
.stream-item-container {
  position: relative;
  width:600px;
  padding: 14px 0 14px 77px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
}
.author-name {
  font-size: 14px;
}

.author-img-container {
    position: absolute;
    float: left;
    left: 14px;
}
.author-img-emp {
  border-radius: 50%;
}
.streamitem-date {
  float:right;
}

.streamitem-body {
  word-wrap: break-word;
  padding-right: 14px;
  margin-bottom: 0;
}

.streamitem-title {
    font-size: 20px;
    font-weight: 500;
    /*color: #fff;*/
    display: inline-block;
    margin: 7px 15px 7px 0;
    cursor: pointer;
}
.subitem {
  cursor: pointer;
  position: relative;
  display: block;
  line-height: normal;
}
.subitem-title {
  font-size: 12px;
  font-weight:500;
}
.calendar-box {
  display: flex;
}
.cal-icon {
  width: 148px;
  height: 78px;
  border: 1px solid #d6d6d6;
  vertical-align: middle;
  text-align: center;
  font-weight: 500;
  float: left;
  margin-right: 10px;
}
.cal-month {
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: -5px;
}
.cal-day {
  font-size: 36px;
}
